body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'poppins', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 16px rgb(210, 210, 211);
    box-sizing: border-box;
    padding: 20px;
}
input{
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid grey;
    text-align: center;
    box-sizing: border-box;
    outline:none;
}
input:focus{
    border-bottom: 1px solid #6F2CF4;
}
div{
width: 100%;
}
button{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #6F2CF4;
    color: white;
}
button:hover{
    opacity: 0.8;
    cursor: pointer;
}
hr{
    width: 100%;
}
a{
    text-decoration: none;
    color: #6F2CF4;
}

@media (max-width: 423px) {
    .container{
        width: 300px;
    }
}